{% extends 'base.html' %}

{% block title %}
    <title>Edit Task </title>
{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <div class="row col-md-10">
            <br>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <br>
        <div class="row">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label>Edit Your Task</label>
                    <input type="text" class="form-control" name="name" placeholder="Edit Task ?" value="{{ task_ed.name }}"><br>
                    <input type="text" class="form-control" name="mobile" placeholder="Edit Mobile" value="{{ task_ed.mobile }}"><br>

                    <button class="btn btn-primary">Update Task</button>
                </div>
            </form>
        </div></div>
{% endblock %}