{% extends 'base.html' %}
{% block title %}
    <title>Home </title>
{% endblock %}

{% block content %}



    <div class="container">
        <br>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}

        <br>
        <div class="row">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label>Add Task</label>
                    <input type="text" class="form-control" name="name" placeholder="Add Task ?"><br>
                    <input type="text" class="form-control" name="mobile" placeholder="Add Mobile"><br>

                    <button class="btn btn-primary">Add Task</button>
                </div>
            </form>


            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Task</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Done</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>

                <tbody>
                {% for obj in all_task %}
                    {% if obj.done %}
                        <tr class="table-success">
                            <th scope="row">{{ obj.id }} | {{ obj.name }} </th>
                            <td>{{ obj.mobile }}</td>
                            <td><a href="{% url 'pending_task' obj.id %}">Mark As Pending</a></td>
                            <td><a href="{% url 'edit_task' obj.id %}">Edit</a></td>
                            <td><a href="{% url 'delete_task' obj.id %}">Delete</a></td>
                        </tr>
                    {% else %}
                        <tr class="table-danger">
                            <th scope="row">{{ obj.id }} | {{ obj.name }} </th>
                            <td>{{ obj.mobile }}</td>
                            <td><a href="{% url 'complate_task' obj.id %} "> Mark As complate</a></td>
                            <td><a href="{% url 'edit_task' obj.id %}">Edit</a></td>
                            <td><a href="">Delete</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}

                </tbody>
            </table>



        </div>
    </div>


{% endblock %}
